.Button  button{
    text-align: center;
    background-color: #1976D2;
    color: #ffffff;
    padding: 12px 10px;
    width: 100px;
    box-sizing: border-box;
    outline: none;
    border:none;
    border: 1px solid #ffffff;
    margin-top: 20px;
    display: inline-block;
}


@media (max-width: 330) {
  .Button  button {
      width: 50px;
  }
}
