.App {
  text-align: center;
  background-color: #0D47A1;
  width: 50%;
  margin: auto;
}
.language {
  color: #ffffff;
}
.row {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  /* background-color: #0288D1; */
   width: 50%;
  margin: auto;
}




@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media (max-width: 500) {
  .App {
      width: 500px;
  }
}






